<form action="/" method="post" class="row justify-content-center">

  <div class="col-auto">
    <input type="text" class="form-control" placeholder="<%= placeholder %>" name="city">
  </div>

  <div class="col-auto">
    <button class="btn btn-primary" type="submit">Is it raining?</button>
  </div>

</form>